<div class="createnewjob">
<h1 class="joblist">Jobs List</h1>
<%= link_to 'Create New Job', new_job_path %>


<table>
  <thead>
    <tr>
      <th>Jobs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= link_to 'Add'  %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>
