<h1>Jobs List</h1>
<%= link_to 'Create New Job', new_job_path %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= link_to 'Add' %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%= form_with(model: @ship, local: true) do |f| %>
        <td>
          <%= f.collection_select :ship_id, Ship.order(:name),:id,:name, include_blank: true %>
        </td>
          <td><%= link_to 'Create Ship', new_ship_path %></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>

<div>
  <h3>Select Ship</h3>
  <%= form_with(model: @ship, local: true) do |f| %>
  <td>
    <%= f.collection_select :ship_id, Ship.order(:name),:id,:name, include_blank: true %>
  </td>
  <% end %>
  <td><%= link_to 'Create Ship', new_ship_path %></td>
</div>
