<div class="jobShow">

<h1>JobName</h1>

<div class="jobField">
  <h3>Title</h3>
  <p><%= @job.title %></p>
</div>

<div class="jobField">
  <h3>Description</h3>
  <p><%= @job.description %></p>
</div>

<div class="jobField">
  <h3>Origin</h3> <p><%= @job.origin %></p>
</div>

<div class="jobField">
<h3>Destination</h3> <p><%= @job.destination %></p>
</div>

<div class="jobField">
<h3>Cost</h3> <p>$<%= @job.cost %></p>
</div>

<div class="jobField">
<h3>Containers</h3> <p><%= @job.containers %></p>
</div>

<div>
  <h3>Select Ship</h3>
  <%= form_with(model: @job_ship, local: true) do |f| %>
  <%= hidden_field_tag 'job_id', @job.id %>
  <td>
    <%= f.collection_select :ship_id, Ship.order(:name),:id,:name, include_blank: true %>
  </td>
  <%= f.submit "Add Ship" %>
  <% end %>
  <td><%= link_to 'Create Ship', new_ship_path %></td>
</div>
</div>

</div>
