<div class="jobShow">

<h1>JobName</h1>

<div class="jobField">
  <h3>Title</h3>
  <p><%= @job.title %></p>
</div>

<div class="jobField">
  <h3>Description</h3>
  <p><%= @job.description %></p>
</div>

<div class="jobField">
  <h3>Origin</h3> <p><%= @job.origin %></p>
</div>

<div class="jobField">
<h3>Destination</h3> <p><%= @job.destination %></p>
</div>

<div class="jobField">
<h3>Cost</h3> <p>$<%= @job.cost %></p>
</div>

<div class="jobField">
<h3>Containers</h3> <p><%= @job.containers %></p>
</div>
</div>
