<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%=link_to 'Home', root_path %>
      <% if !user_signed_in? %>
  	  	<%= link_to 'Sign in',  new_user_session_path %>
  	  	<%= link_to 'Sign Up', new_user_registration_path %>
  	  <% end %>
    	<% if user_signed_in? %>
        <%=link_to 'Jobs', jobs_path %>
  	    <%=link_to 'Ships', ships_path %>
		    <%= link_to 'Profile', users_path %>
  	  	<%= link_to 'Log out', destroy_user_session_path, method: :delete, data: {confirm: 'are you sure??'} %>
    	<% end %>
    </nav>
    <p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
